form {
  max-width: 245px;
  margin: 0 auto;

  .modal_nameField {
    color: #b9b9b9;
    font-size: 14px;
    margin-top: 32px;


  }

  .modal_containerInput {
    border-bottom: solid 1px #2743fd;
    padding: 4px 7px;
    display: flex;

    input {
      flex: 1;
    }

    .modal_formShowPassword {
      cursor: pointer;
      background: url("../../../../assets/img/eye.png") no-repeat;
      width: 18px;
      height: 12px;
      display: inline-block;

    }
  }

  .modal_textHelp {
    cursor: pointer;
    color: #2743fd;
    font-size: 16px;
    margin-top: 24px;
  }

  .modal_containerButton {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;

    .modal_buttonEnter,
    .modal_buttonRegistration {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 27px;
      width: 150px;
      height: 54px;
      color: #ffffff;
      font-size: 18px;
      background-image: linear-gradient(99deg, #0084ff 6%, #004dff 99%)
    }

    .modal_buttonRegistration {
      color: #101a5f;
      background: #ffffff;
    }
  }

  .modal_socialConatainer {
    margin-top: 57px;
    display: flex;
    flex-direction: column;

    .modal_socialTitle {
      font-size: 16px;
      color: #3a3a3a;
      display: flex;
      justify-content: center;
    }

    .modal_containerIcon {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      .modal_iconFacebook,
      .modal_iconGoogle {
        width: 34px;
        height: 34px;
        margin-right: 14px;
      }

      .modal_iconFacebook {
        background: url("../../../../assets/img/icon-facebook.png");
      }

      .modal_iconGoogle {
        background: url("../../../../assets/img/icon-g.png");
      }
    }
  }
}