.hotel_tabsWrap {
  display: flex;
  min-height: 190px;
  margin-right: 26px;

  .hotel_tabContainer {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    flex: 1;

    .react-tabs {
      display: flex;
      width: 100%;

      .react-tabs__tab-panel--selected {
        flex: 1;
      }

      .react-tabs__tab-list {
        border-bottom: none;

        .hotel_switchContainer {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          background: #ffd9b7;
          border-radius: 20px;
          padding: 10px 0;
          width: 42px;
          min-height: 186px;


          li {
            display: block;
            background-image: url("../../../../assets/img/tab_icon.png");
            background-repeat: no-repeat;
            width: 22px;
            height: 31px;
            background-color: transparent;
            cursor: pointer;
            transition: all .5s ease-out 0.2s;

            &.react-tabs__tab--selected {
              width: 45px;
            }

            &.serviceTab {
              background-position: 0 0 ;


              &.react-tabs__tab--selected {
                background-position: -20px 0 ;
              }
            }

            &.hotelTab {
              background-position: 0 -34px;

              &.react-tabs__tab--selected {
                background-position: -20px -34px;
              }
            }

            &.ratingTab{
              background-position: 0 -70px;

              &.react-tabs__tab--selected {
                background-position: 0 0 ;
              }
            }

            &.locationTab {
              background-position: 0 -101px;

              &.react-tabs__tab--selected {
                background-position: 0 0 ;
              }
            }
          }
        }
      }
    }

    .hotel_tabServicesContainer {
      display: flex;
      flex: 1;
      justify-content: space-between;
      padding-left: 20px;

      .hotel_tabsNameService {
        color: #7782aa;
        font-size: 14px;
      }

      .hotel_serviceItem {
        width: 50%;
        margin-right: 35px;
      }

      .hotel_tabsMainNameService {
        color: #464646;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 8px;
      }

      .hotel_tabsNameServiceWrap {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;

        img {
          background: red;
        }

        .hotel_tabsPriceService {
          color: #464646;
          font-size: 14px;
        }
      }

    }
  }

  .hotel_bookContainer {
    .hotel_imgBook {
      background-image: url("../../../../assets/img/undraw-booking-33-fn@3x.png");
      background-size: contain;
      width: 135px;
      height: 94px;
    }

    .hotel_bookButton {
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
      box-sizing: border-box;
      padding: 14px 22px;
      margin-top: 36px;
      /* width: 149px; */
      /* height: 50px; */
      border-radius: 25px;
      box-shadow: 0 6px 11px 0 rgba(252, 167, 93, 0.4);
      background-image: linear-gradient(99deg, #ffb472 6%, #ea9014 99%);

    }
  }
}