.hotel_changeVisibButton {
  background: #fff9f4;
  height: 47px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;

  &:before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 18px;
    background: url("../../../assets/img/right.svg") no-repeat;
  }

  &.rotate {
    &:before {
      transform: rotate(180deg);
    }
  }

}




.hotel_containerScroll {
  height: 100%;
  overflow: hidden;

  .hotel_wrapScroll {
    height: calc(100vh - 270px);
    overflow: auto;

  }
}

.hotel_titleContainer {
  padding: 15px 0;

  .hotel_title {
    color: #3a3a3a;
    font-size: 21px;
    font-weight: bold;
  }

  .hotel_subTitle {
    margin-left: 10px;
    color: #7479a3;
    font-size: 14px;
  }
}

.hotel_wrap {
  border-top: solid 1px #ebebeb;
  padding: 15px 30px 15px 0;
  display: flex;

  .hotel_photoMainContainer {
    min-width: 246px;
    height: 226px;
    width: 246px;
    margin-right: 20px;
    border-radius: 5px;
  }

  .hotel_wrapDesc {
    width: 100%;

    .hotel_price {
      font-size: 18px;
      font-weight: bold;
      color: #383838;
      text-align: right;
    }

    .hotel_mainDescriptionWrap {
      display: flex;
      justify-content: space-between;


      .hotel_countVisit {
        color: #858585;
        font-size: 13px;
      }

      .hotel_mainDescription {
        color: #29314e;
        font-size: 18px;
      }
    }

    .hotel_titleDescription {
      color: #292953;
      font-size: 14px;
      margin-top: 10px;
    }

    .hotel_subTitleDescription {
      color: #7782aa;
      font-size: 14px;
    }
  }
}
